.work {
    background-color: #1387812a;
    margin-left: 120px;
  }
  
  .work-exp {
    padding: 60px 0px;
  }
  
  .work-exp h2 {
    font-weight: bold;
    color: #20bf6b;
  }
  
  .work-exp hr {
    color: #20bf6b;
    width: 400px;
    margin: 10px auto;
  }
  .work-exp .vertical-timeline-element-title {
    color: #20bf6b;
  }
  
  .work-exp .vertical-timeline-element-subtitle {
    color: #1e1e2c78;
  }
  
  
/* =================== */

@media (max-width: 600px) {
  .work {
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }
  .work hr {
    width: 280px;
  }
}

    /* ======== DARK MODE ========= */
  
  #dark .work {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.15);
  }
  
  #dark .work h2{
    color: #20bf6b;
  }
  #dark .vertical-timeline::before{
    background-color: #fff;
  }
  #dark .work .vertical-timeline-element-date{
    color: #fff;
  }